<nav class="navbar navbar-light bg-light rounded">
  <div class="container-fluid">
    <h1>Add Task</h1>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="text"
        placeholder="task"
        [(ngModel)]="description"
        [ngModelOptions]="{ standalone: true }"
      />
      <button
        [disabled]="buttonDisabled()"
        class="btn btn-primary"
        type="button"
        (click)="addOrEditTask()"
      >
        <img
          src="/assets/icons/{{ !!(id$ | async) ? 'edit.svg' : 'save.svg' }}"
          alt="save"
        />
      </button>
    </form>
  </div>
</nav>
